<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../js/bootstrap3/css/bootstrap.css" />


    <script src="../js/bootstrap-table/bootstrap-table.js"></script>
    <script src="../js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-table/bootstrap-table.css"/>

    <script src="../js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="../js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css"/>

    <!-- 引入弹框的js -->
    <script src="../js/bootstrap-bootbox/bootbox.js"></script>


    <link rel="stylesheet" href="../js/bootstrap-fileinput/css/fileinput.css"/>
    <script src="../js/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="../js/bootstrap-fileinput/js/locales/zh.js"></script>

    <style>

        .bg{

            background-color: cadetblue;
            line-height: 80%;
        }
    </style>

</head>

<body class="bg">

    <div style="margin-left: 30px;background-color: cadetblue;width: 80%;height:80%">



    </div>



</body>
</html>